yang/example/turing-machine-gdefs-config.rnc

namespace nma = "urn:ietf:params:xml:ns:netmod:dsdl-annotations:1"
namespace tm = "http://example.net/turing-machine"

turing-machine__state-index = xsd:unsignedShort
turing-machine__head-dir = "left" | "right"
turing-machine__cell-index = xsd:long
turing-machine__tape-symbol =
  xsd:string { minLength = "0" maxLength = "1" }
turing-machine___tape-cells =
  element cell {
    element coord { turing-machine__cell-index },
    element symbol {
      xsd:string { length = "1" }
    }?
  }*
